h1{
  text-align:left;
  position:relative;
  font-size: 60px;
  color: cornflowerblue;
  padding-top: 50px;
  font-family: 'Bitter'
}

a{
  font-size: 30px;
  color: white;
  font-family: 'Bitter'
}

h2{
  text-align: center;
  color: black;
  font-family: 'Oswald'
}

h3{
  text-align: center;
  color: black;
  font-family: 'Oswald'
}

.topbar{
  background-color: black;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 1px;
  margin-right: 1px;
}

.topnav {
  background-color: black;
  overflow: hidden;

}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: lightgrey;
  color: white;
}
