body{
  background-color: cornflowerblue
}

h1 {
  position: relative;
  color: white;
  padding-top: 200;
}
img{
  position: relative;
  padding-top: 30;
}

h2{
  position: relative;
  color: grey;
  padding-top: 10;

}

.attribute{
  position: relative;
  color: white;
  padding-top:100

}

a:link {
  text-decoration: none;
  color: white;
}

a:visited{
  text-decoration: none;
  color: white;
}

a:hover{
  color: white;
  text-decoration: none;
}

a:active{
  color: white;
  text-decoration: none;
}
}
