h1{
  text-align:center;
  position:relative;
  font-size: 100px;
  color: cornflowerblue;
  font-family: 'Bitter'
}

h2{
  position: relative;
  color: black;
  padding-top: 10;
  font-family: 'Oswald';
  text-align: center;
  font-size: 30px;

}

p{
  text-align: center
}

textarea{
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: black;
  border-bottom-style: double;
  font-size: 30px;
<<<<<<< HEAD
  color: grey;
=======
  color: black;
>>>>>>> 4f99605e866c233f73ff12557c082c68617e2b03
  font-family: 'Oswald'
}
