body{
  background-image: url(goldengate.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0px 30px;


}
  h1{
  text-align:center;
  position:relative;
  font-size: 60px;
  color: white;
}

.topbar{
  background-color: cornflowerblue;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 1px;
  margin-right: 1px;
}
img{
  height: 10px;
  vertical-align: middle;
}


h2{
  font-family: 'Oswald', sans-serif;
  text-align:left;
  position:relative;
  font-size: 50px;
  color: white;
}

h3{
  font-family: 'Oswald', sans-serif;
  text-align:left;
  position:relative;
  font-size: 50px;
  color: white;
}

h4{
  font-family: 'Oswald', sans-serif;
  text-align:left;
  position:relative;
  font-size: 50px;
  color: white;
}

h5{
  font-family: 'Oswald', sans-serif;
  text-align:left;
  position:relative;
  font-size: 50px;
  color: white;
}

h6{
  font-family: 'Oswald', sans-serif;
  text-align:left;
  position:relative;
  font-size: 50px;
  color: white;
}
