h1{
  text-align:center;
  position:relative;
  font-size: 100px;
  padding-top: 200;
  color: cornflowerblue;
  font-family: 'Bitter'
}


h2{
  text-align: center;
  position: relative;
  color:grey;
  padding-top:100;
  font-family: 'Oswald'

}
