/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: cornflowerblue;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 50%
}

/* Style the links inside the navigation bar */
.navbar a {
  float: middle;
  display: block;
  color: #808080;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Bitter'
}
