
h1{
  text-align:center;
  position:relative;
  font-size: 100px;
  padding-top: 10;
  text-align: center;
  font-family: 'Bitter';
  color: cornflowerblue;
  font-size: 100px;
}


h2{
  position: relative;
  color: grey;
  padding-top: 10;
  font-family: 'Oswald';
  text-align: center;
  font-size: 30px;

}
.attribute{
  position: relative;
  color: white;
  padding-top:100

}

a:link {
  text-decoration: none;
  color: white;
}

a:visited{
  text-decoration: none;
  color: white;
}

a:hover{
  color: white;
  text-decoration: none;
}

a:active{
  color: white;
  text-decoration: none;
}
